Repository bumps/bumps: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: eslint
  args:
  - -c
  - bumps/webview/client/eslint.config.js
  - --fix
  additional_dependencies:
  - eslint@9.15.0
  language: node

prettier:
  name: prettier
  entry: prettier
  args:
  - --write
  - --config
  - bumps/webview/client/prettier.config.js
  additional_dependencies:
  - prettier@3.4.1
  language: node

Expand --version, print when running webview
  .gitignore
  bumps/webview/server/cli.py
Due: none

allow glob patterns on include/exclude and selections
  bumps/dream/state.py
Due: none

Fix dream imports; document save/export
  bumps/dream/__init__.py
  bumps/fitters.py
Due: none

code cleanup
  bumps/dream/views.py
Due: none

Add convenience function for showing χ² and parameter table; show how to compare parameter histograms between fits
  bumps/fitters.py
  bumps/names.py
Due: none

code cleanup; show dream summary for verbose fit output
  bumps/dream/views.py
  bumps/fitters.py
Due: none

print rather than display help if not in jupyter; use ' in f-string for older python
  bumps/fitters.py
Due: none

plotly types from DefinitelyTyped now cover registering heatmap, etc. ... shim not needed anymore
  bumps/webview/client/src/components/CorrelationViewPlotly.vue
  bumps/webview/client/src/components/UncertaintyView.vue
Due: eslint, prettier

add heatmap, countour, ternary and image plots to DataView.vue
  bumps/webview/client/src/components/DataView.vue
Due: eslint, prettier

remove support for Image traces in plotly plots - requires special setup for compiling and was breaking client
  bumps/webview/client/src/components/DataView.vue
  bumps/webview/client/vite.config.js
Due: eslint, prettier

add ThreadPoolExecutor mapper
  bumps/mapper.py
Due: none

add command line argument --threads to use ThreadPool mapper
  bumps/webview/server/cli.py
Due: none

make sure to get a new copy of the fit_problem for every new fit
  bumps/mapper.py
Due: none

cleanup documentation
  bumps/mapper.py
Due: none

Switch to biome for frontend linting/formatting
  .gitignore
  .pre-commit-config.yaml
  bumps/webview/client/.gitignore
  bumps/webview/client/biome.json
  bumps/webview/client/package.json
Due: prettier

set document.title to be the filename of the model, on first page load and then when filename changes
  bumps/webview/client/src/App.vue
  bumps/webview/client/src/main.js
Due: eslint, prettier

Add button to toggle light/dark theme
  bumps/webview/client/src/App.vue
  bumps/webview/client/src/components/CSVTable.vue
  bumps/webview/client/src/components/ThemeToggle.vue
Due: eslint, prettier

filename is a string
  bumps/webview/client/src/App.vue
Due: eslint, prettier

pre-commit, add declare vue modules to types
  .github/release.yml
  bumps/bounds.py
  bumps/dream/stats.py
  bumps/dream/views.py
  bumps/fitters.py
  bumps/webview/client/.gitignore
  bumps/webview/client/package.json
  bumps/webview/client/src/types.d.ts
  bumps/webview/server/api.py
  bumps/webview/server/cli.py
  check_fitters.py
  extra/jobqueue/rest.py
  extra/platform_resources/macos/app_folder_template/bumps.app/Contents/Frameworks/python.framework/Versions/A/Resources/Info.plist
  extra/platform_resources/macos/app_folder_template/bumps_shell.app/Contents/Info.plist
Due: eslint, prettier

address type check errors
  bumps/webview/client/src/App.vue
  bumps/webview/client/src/app_state.ts
  bumps/webview/client/src/components/CorrelationViewPlotly.vue
  bumps/webview/client/src/components/FileBrowser.vue
  bumps/webview/client/src/components/FitOptions.vue
  bumps/webview/client/src/components/PanelTabContainer.vue
  bumps/webview/client/src/components/ParameterTagFilter.vue
  bumps/webview/client/src/components/ParameterView.vue
  bumps/webview/client/src/components/SummaryView.vue
Due: eslint, prettier

non null assert in wrong spot
  bumps/webview/client/src/components/ParameterTagFilter.vue
Due: eslint, prettier

revert
  bumps/bounds.py
  bumps/dream/stats.py
  bumps/dream/views.py
  bumps/fitters.py
  bumps/webview/client/.gitignore
  bumps/webview/client/package.json
  bumps/webview/client/src/App.vue
  bumps/webview/client/src/app_state.ts
  bumps/webview/client/src/components/CorrelationViewPlotly.vue
  bumps/webview/client/src/components/FileBrowser.vue
  bumps/webview/client/src/components/FitOptions.vue
  bumps/webview/client/src/components/PanelTabContainer.vue
  bumps/webview/client/src/components/ParameterTagFilter.vue
  bumps/webview/client/src/components/ParameterView.vue
  bumps/webview/client/src/components/SummaryView.vue
  bumps/webview/client/src/types.d.ts
  bumps/webview/server/cli.py
  check_fitters.py
  extra/jobqueue/rest.py
Due: eslint, prettier

Revert "pre-commit, add declare vue modules to types"
  .github/release.yml
  bumps/webview/server/api.py
  bumps/webview/server/cli.py
  extra/platform_resources/macos/app_folder_template/bumps.app/Contents/Frameworks/python.framework/Versions/A/Resources/Info.plist
  extra/platform_resources/macos/app_folder_template/bumps_shell.app/Contents/Info.plist
Due: none

Add button to toggle light/dark theme (#361)
  bumps/webview/client/src/App.vue
  bumps/webview/client/src/components/CSVTable.vue
  bumps/webview/client/src/components/ThemeToggle.vue
Due: eslint, prettier

run pre-commit
  .github/workflows/test-webview-client.yaml
  .gitignore
  bumps/webview/client/vite.config.js
Due: eslint, prettier

remove theme toggle
  bumps/webview/client/src/App.vue
  bumps/webview/client/src/components/ThemeToggle.vue
Due: eslint, prettier

restore theme toggle which somehow disappeared in rebase
  bumps/webview/client/src/App.vue
  bumps/webview/client/src/components/ThemeToggle.vue
Due: eslint, prettier

set document.title to be the filename of the model (#360)
  bumps/webview/client/src/App.vue
  bumps/webview/client/src/main.js
Due: eslint, prettier

move all freevars functionality to subclass
  bumps/fitproblem.py
Due: none

raise error that redirects user to FreeVarsFitProblem if freevars in FitProblem init
  bumps/fitproblem.py
Due: none

fix DOI link
  README.rst
Due: none

fix --no-deps was True when flag not specified (backwards)
  bumps/webview/build_client.py
Due: none

add api function to get the session as string-encoded bytes
  bumps/webview/server/api.py
  bumps/webview/server/state_hdf5_backed.py
Due: none

add new registry for endpoints with download intent
  bumps/webview/server/api.py
  bumps/webview/server/webserver.py
Due: none

add button for downloading session
  bumps/webview/client/src/components/SessionMenu.vue
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(vue|js|ts|mjs|tsx|jsx)$
  prettier: any of: \.(json|yaml|md|vue|js|ts|mjs|tsx|jsx)$
