Repository bumps/bumps: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: eslint
        files: \.(vue|js|ts|mjs|tsx|jsx)$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        args: ["-c", "bumps/webview/client/eslint.config.js", "--fix"]
        additional_dependencies: ["eslint@9.15.0"]
        language: node
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier
        files: \.(json|yaml|md|vue|js|ts|mjs|tsx|jsx)$
        types: [file]
        args: ["--write", "--config", "bumps/webview/client/prettier.config.js"]
        additional_dependencies: ["prettier@3.4.1"]
        language: node
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=8192]
        exclude: bumps/dream/random123
      - id: check-merge-conflict
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
        exclude: |
          bumps/dream/random123
          bumps/webview/client/src
      - id: trailing-whitespace
        exclude: |
          bumps/dream/random123
          bumps/webview/client/src
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.1
    hooks:
      # - id: ruff
      #   args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        args: [--config=pyproject.toml]
        exclude: |
          bumps/dream/random123
          bumps/webview/client/src
          extra/platform_scripts

ci:
  autoupdate_schedule: monthly
  skip: [eslint]

Fix typing error in sphinx for numpy
  doc/conf.py
Due: none

Use simple fit interface for plots in docs
  bumps/fitters.py
  doc/sitedoc.py
Due: none

add code note
  bumps/bounds.py
Due: none

Add typing information to DREAM code
  bumps/dream/core.py
  bumps/dream/crossover.py
  bumps/dream/state.py
Due: none

fix using_mpi test
  bumps/mapper.py
Due: none

fix signature of start_fit_thread after merge with master
  bumps/webview/client/src/components/FitOptions.vue
  bumps/webview/server/api.py
Due: eslint, prettier

initialize DreamMonitor properly
  bumps/webview/server/fit_thread.py
Due: none

add --resume options; refactor load/save state; improve dream typing
  bumps/dream/model.py
  bumps/dream/state.py
  bumps/fitters.py
  bumps/partemp.py
  bumps/webview/server/api.py
  bumps/webview/server/cli.py
  bumps/webview/server/fit_thread.py
  bumps/webview/server/state_hdf5_backed.py
Due: none

Only save state for dream for now
  bumps/webview/server/fit_thread.py
Due: none

make it clear that load/save history in fitters is restricted to DE
  bumps/fitters.py
Due: none

fix types for sphinx build
  bumps/dream/bounds.py
  bumps/fitters.py
  bumps/initpop.py
  bumps/lsqerror.py
  bumps/simplex.py
  bumps/util.py
  bumps/webview/server/state_hdf5_backed.py
  bumps/webview/server/traceplot.py
  bumps/webview/server/varplot.py
  doc/conf.py
Due: none

Add resume support for differential evolution
  bumps/dream/state.py
  bumps/errplot.py
  bumps/fitters.py
  bumps/webview/client/src/app_state.ts
  bumps/webview/client/src/components/HistoryView.vue
  bumps/webview/server/api.py
  bumps/webview/server/cli.py
  bumps/webview/server/fit_thread.py
  bumps/webview/server/state_hdf5_backed.py
Due: eslint, prettier

Add max time option to fitters
  bumps/webview/client/src/components/FitOptions.vue
  bumps/webview/server/api.py
  bumps/webview/server/cli.py
  bumps/webview/server/fit_options.py
  bumps/webview/server/state_hdf5_backed.py
Due: eslint, prettier

Show final step on console
  bumps/bounds.py
  bumps/cli.py
  bumps/dream/core.py
  bumps/fitters.py
  bumps/gui/fit_thread.py
  bumps/mystic/solver.py
  bumps/options.py
  bumps/parameter.py
  bumps/partemp.py
  bumps/quasinewton.py
  bumps/random_lines.py
  bumps/util.py
  bumps/webview/client/src/components/FitOptions.vue
  bumps/webview/server/api.py
  bumps/webview/server/cli.py
  bumps/webview/server/fit_options.py
  bumps/webview/server/fit_thread.py
  check_fitters.py
  doc/conf.py
  doc/sitedoc.py
Due: eslint, prettier

Show step number on final
  bumps/fitters.py
  bumps/webview/server/fit_options.py
Due: none

promote integers to floats when supplied to a float option
  bumps/webview/server/fit_options.py
Due: none

enable de resume from webview
  bumps/webview/client/src/app_state.ts
  bumps/webview/client/src/components/FitOptions.vue
  bumps/webview/server/api.py
  bumps/webview/server/fit_thread.py
  bumps/webview/server/state_hdf5_backed.py
Due: eslint, prettier

enable de resume from webview
  bumps/fitters.py
  bumps/history.py
  bumps/mystic/solver.py
  bumps/webview/server/api.py
  bumps/webview/server/cli.py
  bumps/webview/server/fit_thread.py
  bumps/webview/server/state_hdf5_backed.py
Due: none

Add command line hdf5 summarizer
  bumps/dump.py
Due: none

Webview resume dream (#246)
  bumps/dream/__init__.py
  bumps/dream/bounds.py
  bumps/dream/core.py
  bumps/dream/crossover.py
  bumps/dream/model.py
  bumps/dream/state.py
  bumps/dump.py
  bumps/errplot.py
  bumps/fitters.py
  bumps/history.py
  bumps/initpop.py
  bumps/lsqerror.py
  bumps/mystic/solver.py
  bumps/partemp.py
  bumps/simplex.py
  bumps/util.py
  bumps/webview/client/src/app_state.ts
  bumps/webview/client/src/components/FitOptions.vue
  bumps/webview/client/src/components/HistoryView.vue
  bumps/webview/server/api.py
  bumps/webview/server/cli.py
  bumps/webview/server/fit_options.py
  bumps/webview/server/fit_thread.py
  bumps/webview/server/state_hdf5_backed.py
  bumps/webview/server/traceplot.py
  bumps/webview/server/varplot.py
  doc/conf.py
Due: eslint, prettier

reject unrecognized fit options in webview FitOptions panel
  bumps/webview/client/src/components/FitOptions.vue
Due: eslint, prettier

don't load (ignore) any specified problem file if --resume is specified
  bumps/webview/server/cli.py
Due: none

attach fit_state attribute to History instead of uncertainty_state
  bumps/fitters.py
Due: none

set shared.resumable to the fitter_id of the fitter that can be resumed, re-add signal that new uncertainty state is available
  bumps/webview/client/src/app_state.ts
  bumps/webview/client/src/components/FitOptions.vue
  bumps/webview/server/api.py
  bumps/webview/server/fit_thread.py
  bumps/webview/server/state_hdf5_backed.py
Due: eslint, prettier

Display exceptions from fit progress and fit complete handlers
  bumps/webview/server/api.py
Due: none

update readthedocs configuration, install bumps[dev]
  .readthedocs.yaml
Due: prettier

removing doc/requirements - all documentation requirements come from pip install .[dev] on source
  doc/requirements.txt
Due: none

Add store/export to simple fit interface
  bumps/fitters.py
  bumps/webview/server/api.py
Due: none

add optional fig kwarg to plot_traces and plot_trace, for plotting to a known figure
  bumps/dream/views.py
Due: none

remove debugging statement
  bumps/fitters.py
Due: none

add method to retrieve JSON-compatible fit field definitions (label, description, type...)
  bumps/webview/server/fit_options.py
Due: none

expose method to retrieve fit field definitions
  bumps/webview/server/api.py
Due: none

use fit field definitions from server
  bumps/webview/client/src/components/FitOptions.vue
Due: eslint, prettier

add Range validation client-side to FitOptions
  bumps/webview/client/src/components/FitOptions.vue
Due: eslint, prettier

use dataclass serializer, with fallback to dill
  bumps/fitters.py
  bumps/webview/server/state_hdf5_backed.py
Due: none

remove doctest warning
  bumps/wsolve.py
Due: none

Move timeout handling to fit driver so it works with simple fit interface
  bumps/fitters.py
  bumps/webview/server/api.py
  bumps/webview/server/state_hdf5_backed.py
Due: none

Fix stopping condition for mpfit
  bumps/fitters.py
Due: none
