Repository bumps/bumps: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: eslint
        files: \.(vue|js|ts|mjs|tsx|jsx)$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        args: ["-c", "bumps/webview/client/eslint.config.js", "--fix"]
        additional_dependencies: ["eslint@9.15.0"]
        language: node
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier
        files: \.(json|yaml|md|vue|js|ts|mjs|tsx|jsx)$
        types: [file]
        args: ["--write", "--config", "bumps/webview/client/prettier.config.js"]
        additional_dependencies: ["prettier@3.4.1"]
        language: node
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=8192]
        exclude: bumps/dream/random123
      - id: check-merge-conflict
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
        exclude: |
          bumps/dream/random123
          bumps/webview/client/src
      - id: trailing-whitespace
        exclude: |
          bumps/dream/random123
          bumps/webview/client/src
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.1
    hooks:
      # - id: ruff
      #   args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        args: [--config=pyproject.toml]
        exclude: |
          bumps/dream/random123
          bumps/webview/client/src
          extra/platform_scripts

ci:
  autoupdate_schedule: monthly
  skip: [eslint]

favour faster fitting by trimming outlier chains during fit
  bumps/fitters.py
Due: none

use f32 for in-memory sample buffer
  bumps/dream/core.py
  bumps/dream/state.py
  bumps/fitters.py
Due: none

prevent bouncing of trim portion value from server updates while slider is moving, and used stored portion value on server if slider is not moving
  bumps/webview/client/src/components/ConvergenceView.vue
  bumps/webview/server/api.py
Due: eslint, prettier

Force draws to int64; use stored dtype rather than double in tests
  bumps/dream/state.py
Due: none

reorder statements to avoid merge conflict with master
  bumps/dream/state.py
Due: none

since trim is adjustable include full range in dream outliers test
  bumps/fitters.py
Due: none

Avoid exceptions by keeping at least two generations in the draw even for portion=1.0
  bumps/dream/state.py
Due: none

Fix comment
  bumps/dream/state.py
Due: none

refactor dream Draw() and plots
  bumps/dream/matlab.py
  bumps/dream/state.py
  bumps/dream/stats.py
  bumps/dream/views.py
  bumps/webview/server/api.py
  bumps/webview/server/fit_thread.py
  bumps/webview/server/varplot.py
Due: none

revise error handling in simple dream loader
  bumps/dream/state.py
Due: none

tweak docs; remove cruft
  bumps/dream/state.py
Due: none

add tests for integer and derived vars
  bumps/dream/state.py
Due: none

handle stored_portion being null/None
  bumps/webview/client/src/components/ConvergenceView.vue
  bumps/webview/server/api.py
Due: eslint, prettier

refactor nllf_scale function so chisq uncertainty is in one place
  bumps/fitproblem.py
Due: none

Allow model file to control the number of variables in exported correlation plot
  bumps/dream/views.py
Due: none

Allow loading of the dream state from an export directory into webview
  bumps/cli.py
  bumps/dream/state.py
  bumps/webview/server/cli.py
Due: none

Allow loading of the dream state from an export directory into webview
  bumps/dream/state.py
Due: none

Limit context for mpl.use(agg) to exported plots
  bumps/util.py
  bumps/webview/server/api.py
  bumps/webview/server/cli.py
  bumps/webview/server/webserver.py
Due: none

run the generic model uncertainty plugin during export
  bumps/errplot.py
  bumps/fitters.py
  bumps/plugin.py
  bumps/webview/server/api.py
Due: none

Fix jupyter start bug: need default value for reload_export
  bumps/webview/server/cli.py
Due: none

Show proxy url when running bumps from a jupyter hub terminal emulator
  bumps/webview/server/webserver.py
Due: none

update dev dependencies to avoid peer conflict
  bumps/webview/client/package.json
Due: prettier

explicitly adding @types/node to dev depencies
  bumps/webview/client/package.json
Due: prettier

shorten the window over which there may be conflict with the mpl backend
  bumps/webview/server/api.py
Due: none

Check hash of model file before reloading export
  bumps/webview/server/cli.py
Due: none

fix error in 'build convergence on reload' docs
  bumps/webview/server/cli.py
Due: none

pass disconnected state to Shutdown dialog as prop instead of trying to react to ref (not working)
  bumps/webview/client/src/App.vue
  bumps/webview/client/src/components/ServerShutdown.vue
Due: eslint, prettier

Convergence show burn and control cutoff with slider (#290)
  bumps/dream/state.py
  bumps/webview/client/src/components/ConvergenceView.vue
  bumps/webview/server/api.py
  bumps/webview/server/convergence_plot.py
  bumps/webview/server/state_hdf5_backed.py
Due: eslint, prettier

fix duplicate dependency
  pyproject.toml
Due: none

Use msgpack for websocket comms with webview client (#291)
  bumps/webview/client/package.json
  bumps/webview/client/src/asyncSocket.ts
  bumps/webview/server/webserver.py
  pyproject.toml
Due: eslint, prettier

Limit context for mpl.use(agg) to exported plots (#317)
  bumps/util.py
  bumps/webview/server/api.py
  bumps/webview/server/cli.py
  bumps/webview/server/webserver.py
Due: none

pass disconnected state to Shutdown dialog as prop instead of trying to react to ref (not working) (#320)
  bumps/webview/client/src/App.vue
  bumps/webview/client/src/components/ServerShutdown.vue
Due: eslint, prettier

rename --*store to --*session to avoid confusion
  bumps/webview/server/cli.py
Due: none

Update docs to use --session=fit.h5 instead of --store=/tmp/T1
  bumps/webview/server/cli.py
  doc/examples/curvefit/curve.py
  doc/examples/entropy/check_entropy.py
  doc/examples/entropy/peak.py
  doc/examples/peaks/readme.rst
  doc/getting_started/install.rst
  doc/guide/fitting.rst
  doc/guide/options.rst
Due: none

Export data from custom plots
  bumps/webview/client/src/components/CustomPlot.vue
  bumps/webview/client/src/components/CustomUncertaintyPlot.vue
  bumps/webview/server/api.py
  bumps/webview/server/custom_plot.py
Due: eslint, prettier

Fix more --store instances
  check_fitters.py
  extra/mc.py
Due: none

doc fixes
  doc/guide/options.rst
Due: none

Copying a parameter now copies the slot so that the parameters are not tied
  bumps/parameter.py
Due: none
